$max_width_main = 776px
$max_width_logo = 1024px
$max_width_toc = 220px
$max_link_item = 16rem
$avatar_width = 96px
$avatar_height = 96px

$color_main = convert(hexo-config('style.color.main_color')) || #eb5757
$color_title = #50596c
$color_background = #f4f4f4
$color_card = #fff
$color_font = #4c4d4e
$color_codeblock = #eeeeee
$color_categories_block = #c2c2c2
$color_tags_block = #f4f4f4
$color_footer_text = #999
$color_footer_link = #6b6b6b

$radius_main = convert(hexo-config('style.radius.main_radius')) || 5px
$radius_button = 5px

$space_main = convert(hexo-config('style.space.main_space')) || 3.5rem
$space_sm = convert(hexo-config('style.space.sm_space')) || 1.5rem
$header_height = 60px

$fontsize = 16px
$code_fontsize = 14px
$toc_fontsize = 14px
$lineheight = 1.8

//顶部logo圆框、光晕
.cover .cover__logo img {
    max-width: 72px;
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
    cursor: pointer 
    transition: all 0.4s
      &:hover {box-shadow:0 2px 6px 1px rgba(36,146,165,0.4) }
}

//友链卡片圆角
.links-list .links-content .links-card {
    border-radius: 0 0 5px 5px;
}

//首页文章卡片彩色光晕
.post-entry
   cursor: pointer
   &:hover
     box-shadow:0px 8px 15px rgba(36,146,165,0.4) !important
     border-radius: 8px

#artitalk_main #shuoshuo_content {
    padding: 0px !important
}